:root{
    --text: #252B42;
    --second-text:#737373;

}


body{
    font-family: Montserrat ;

}

a{
    text-decoration: none;
}

ul{
list-style: none;
padding: 0;
}

.container{
    width: 1210px;
    margin: 0 auto;
}

.header{
padding-top: 49px;
padding-bottom: 41px;
}

.header_link{
    color: var(--text);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 28px;
letter-spacing: 0.2px;
text-decoration: none;

}

.header_link:hover{
    color: #FA4A0C;
}

.header_menu{
    display: flex;
    gap: 94px;
    align-items: center;
}

.header>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.eat{
   background: url(../src/img/food.png) center/cover
   ;
   padding: 60px 0 162px;
   height: 619px;
}

.eat_subtitle{
    color: #F6F6F6;
text-align: center;

font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
letter-spacing: 0.1px;
margin: 0;
}

.eat_title{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: 80px; 
letter-spacing: 0.2px;
margin: 0;
margin-top: 10px;
}

.eat_sub_title{
    font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 38px; 
letter-spacing: 0.2px;
color: #F6F6F6;
text-align: center;

}

.caption{
    font-weight: 500;
    line-height: 38px; 
    letter-spacing: 0.2px;    
}

.eats_btn{
border-radius: 30px;
border: 1px solid #FFF;
width: 236px;
padding: 16px 0px;
color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 150% */
letter-spacing: 0.1px;
background-color: rgba( 0,  0,  0,  0);


}

button:hover{
    border-radius: 30px;
background: #FA4A0C;
box-shadow: 0px 10px 30px 0px rgba(183, 50, 39, 0.20);
cursor: pointer;
border: none;

}

.eats_btns{
    display: flex;
    justify-content: center;
    padding-top: 54px;
    gap: 67px;
 
}

.work_title{
    color: #000;
font-family: Poppins;
font-size: 44px;
font-style: normal;
font-weight: 600;
line-height: 36px; /* 81.818% */
letter-spacing: 0.1px;
text-align: center;
}

.works_create-subtitle{
    color: #FA4A0C;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
letter-spacing: 0.1px;
}

.works_create-title{
    color: var(--text);


font-family: Montserrat;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 57px; /* 142.5% */
letter-spacing: 0.2px;
}



.works_create-descr{
    color: var(--second-text, #737373);
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 38px; /* 158.333% */
letter-spacing: 0.2px;

}


.works_create{
    display: flex;
    justify-content: space-between;
    gap: 287px;
   padding-top: 200px;
}
